/* desktop styles */
@media screen and (min-width: 961px) {
    main {
        grid-template-areas: "item1 item1"
                         "item2 item2"
                         "item3 item4"
                         "item5 item5"
                         "item6 item6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr repeat(5);
    }

    #item3, #item4 {
        display: flex;
        max-width: 440px;
    } 

    .item5, .item6 {
        display: grid;
        grid-template-areas: "content1 content2 content3 content4";
        grid-template-columns: 1fr repeat(4);
        grid-template-rows: 1fr;
    }

    /* image sizes set to scale */
    .icon {
        height: 200px;
        width: 200px;
    }

    #profile {
        height: 250px;
        width: 250px;
    }

    .pcards {
        height: 300px;
    }

    /* caption and hold font sizes explicit to ensure layout responds correctly */
    .caption, .content {
        font-size: 1.4rem;
    }

    /* transition triggered by mouseover for desktop */
    #profile:hover,
    .links:hover {
        filter: grayscale(0%);
    }

}
