
/* LARGE TABLET STYLES */
@media screen and (min-width: 700px) and (max-width: 960px) {
    main {
        grid-template-areas: "item1 item1"
                         "item2 item2"
                         "item3 item4"
                         "item5 item5"
                         "item6 item6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr repeat(5);
        font-size: 0.8rem;
    }

    #item3, #item4 {
        display: flex;
        max-width: 440px;
    } 

    .item5, .item6 {
        display: grid;
        grid-template-areas: "content1 content2 content3 content4";
        grid-template-columns: 1fr repeat(4);
        grid-template-rows: 1fr;
    }

    /* image sizes set to scale */
    .icon {
        height: 150px;
        width: 150px;
    }

    #profile {
        height: 200px;
        width: 200px;
    }

    .pcards {
        height: 250px;
    }

    /* caption and hold font sizes explicit to ensure layout responds correctly */
    .caption, .content {
        font-size: 1.1rem;
        }

    /* another hidden colour transition */
    #profile:active,
    .links:active {
        filter: grayscale(0%);
    }
}