
/* Mobile styles */
@media screen and (max-width: 481px) {
    body {
        background-image: url(https://res.cloudinary.com/dvqlfwgtf/image/upload/v1542251526/peaks.jpg);
        background-size: cover;
    }
    main {
        grid-template-areas: "item1"
                         "item2"
                         "item3"
                         "item4"
                         "item5"
                         "item6";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(6);
        font-size: 0.7rem;
    }

    #item3, #item4 {
        display: flex;
    }
    
    .item5, .item6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-evenly;
    }

    .center {
        width: 95%;
    }

    /* image sizes set to scale */
    .icon {
        height: 100px;
        width: 100px;
    }

    #profile {
        height: 175px;
        width: 175px;
    }

    .pcards {
        height: 200px;
    }

    /* caption and hold font sizes explicit to ensure layout responds correctly */
    .caption, .content {
        font-size: 1rem;
    }

    /* another hidden colour transition */
    #profile:active,
    .links:active {
        filter: grayscale(0%);
    }
}