
.main {
    position: relative;
    max-width: 900px;
    margin: 10px;
    background-color: #ffffff60;  
    text-align: left;
    overflow: hidden;
    justify-content: space-evenly;
}

.item1, .item2 {
    padding: 10px;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    // grid-area: item4;
}

.item5 {
    grid-area: item5;
    padding-top: 5px;
    padding-bottom: 5px;

}

.item6 {
    grid-area: item6;
    padding-top: 5px;
    padding-bottom: 5px;

}
