
/* ANIMATION FOR OVERLAY */
@keyframes dropdown {
    0% {
        background-color: white;
    }

    40% {
        background-color: white;
        opacity: 0;
        transform: translate(0, 100%)
    }

    60% {
        background-color: white;
        opacity: 0;
        transform: translate(0, 100%)
    }

    80% {
        background-color: white;
        opacity: 0.2;
    }

    100% {
        background-color: white;
    }
}

.dropdown {
    animation: dropdown 6s forwards;
}