@import "mixins.scss";
/* SMALL TWEAKS BELOW */

/* had to use id for profile image as resizes conflicted with imgs */
#profile {
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}

h1 {
    @include flex;
}

.quote {
    float: left;
    margin: 0 0 1rem;
    width: 100%;
}

p {
    font-family: 'Martel';
}

img {
    object-fit: contain;
    padding: 10px;
    margin: 10px;
}
